/* src/components/ErrorAlert.css */
.custom-error-alert {
  border-left: 5px solid #dc3545;
  background-color: #fde2e2;
  font-weight: 500;
  padding: 0.75rem 1.25rem;
  border-radius: 0.5rem;
}

.error-icon {
  color: #dc3545;
  font-size: 1.4rem;
}
